{% extends "base_layout.html" %}
<!DOCTYPE html>
<html>
    <li><a href="/view"> View Tasks</a></li>
    <li><a href="/add"> Add new tasks </a> </li>
    <li><a href="/delete"> Delete tasks </a>  </li>
    <li><a href='/update'> Update tasks </a>  </li>
    <title>
        Add Task
    </title>
<head>
    <h1>
        Follow the instructions below to add a task to the backlog:
    </h1>
</head>
    <form method="POST" action >
        {% csrf_token %}
        {{ form.as_p }}
    <lable><input type="submit" value="save"></label>
    </form>
</html>