<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}basetemplate{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
        {% block logins %}
            {% if user.is_authenticated %}
                <p>You're logged in, click here to <a href='accounts/logout/'>logout</a></p>
            {% else %}
                <p>You're logged out, click here to <a href="accounts/login/">login</a></p>
            {% endif %}
        {% endblock%}
    {% endblock %}
  </main>
</body>
</html>