{% load static %}
<!DOCTYPE html>
<html>
{% block head %}
<head>
    <style>
        body {
            background-color:aquamarine;
        }
    </style>
    <meta charset="urtf-8">
    <title>{{text}}</title>
    <link rel="stylesheet" href={% static "mainstatic.css" %}>
    <ul>
        <li><a href="{% url 'main' %}">Home page</a></li>
        <li><a href="/view">View</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
<div id="logins">
</div>
</head>
{% endblock %}

    {% block content %}
    <body>
        </body>
    {% endblock %}
{% block table %}
<h2>{{title}}</h2>
<table>
<tr>{% for field in fields %}<th>{{ field.verbose_name }}</th>{% endfor %}</tr>
<tr>
    <td class="left-align"><b>{{ task.id }}</b></td>
    <td class="left-align">{{ task.title }}</td>
    <td>{{ task.discr }}</td>
    <td>{{ task.rag }}</td>
    <td>{{ task.status }}</td>
</tr>
</table>
<p><a href="/view">Back to view tasks</a></p>
{% endblock %}
</html>
