<!DOCTYPE html>
<html>
<head>
<title>Main Page(view tasks)</title>

</head>
<body>

<h1>Welcome to Emily's task managing site</h1>

<p>This web-app's primary goal is to:<br>
    <a href="/view">View</a>, add, delete and update tasks</p>
<p>Later you will be able to:
<ul>
    <li>View the change record</li>
    <li>Recover deleted tasks</li>
    <li>Group tasks together</li>
    <li>Be able to see what state tasks are in from the home page</li>
    <li>Add new fields</li>
    <li>Be able to see the actions assigned to you through a deadicated account</li>

</ul>

<p><a href="accounts/login"> login</a></p>
</body>
</html>