<!DOCTYPE html>
<html>
<head>
<title>Main Page(view tasks)</title>

</head>
<body>

<h1>Welcome to Emily's task managing site</h1>

<p>This web-app thing is going to have 4 main parts</p>
<p>You will be able to:
<ul>
    <li><a href="/view"> View Tasks</a></li>
    <li><a href="/add"> Add new tasks </a> </li>
    <li><a href="/delete"> Delete tasks </a>  </li>
    <li><a href='/update'> Update tasks </a>  </li>
</ul>
</p>
<p>Later you will be able to:
<ul>
    <li>View the change record</li>
    <li>Recover deleted tasks</li>
    <li>Group tasks together</li>
    <li>Be able to see what state tasks are in from the home page</li>
    <li>Add new fields</li>
    <li>Be able to see the actions assigned to you through a deadicated account</li>

</ul>
</body>
</html>