{% extends "base_layout.html" %}
{% block content%}
    <h1>Search Page</h1>
    <p>type in your search phrase here</p>
    <form method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text", name="lookup", value="{{ request.GET.lookup }}" placeholder="submit title here">
        <button type="submit" onclick="hide_func()">Submit</button>
    </form>
    <br>
{% endblock %}
{% block table %}
    <div class="hidden">
        <table class="hidden">
            {% for task in tasks %}
            <tr>
            <th>{{ task.title }}</th>
            <td><a href="{% url 'detail' pk=task.pk %}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>function hide_func() {
    var x = document.getElementById("hidden");
        if (x.style.display == "none"){
            x.style.display = "block";
        } else {
            x.style.display = "none"
        }
        }
    </script>
{% endblock %}