{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'mainstatic.css'%}">
<title>
    Update Task
</title>
<table>
    <th>ID</th>
    <th>Title</th>
    <th>Discr</th>
    <th>Rag</th>
    <th>Status</th>
    <tr>
        <td>{{task.id}}</td>
        <td>{{task.title}}</td>
        <td>{{task.discr}}</td>
        <td>{{task.rag}}</td>
        <td>{{task.status}}</td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <p>What you you want the message to be? </p>
    {{ form.as_p }}
    <textarea name="message" rows="10" cols="30"></textarea><br>
    <input type="submit" value="save">
</form>
<p><a href="/view">View Tasks</a></p>
</html>