{% extends "base_layout.html" %}
{% load static %} {% load mytags %}
<!DOCTYPE html>
<html>
    {% block logins %}
        {{ block.super }}
    {% endblock %}
    <head>
        <title>View</title>
        <link rel="stylesheet" href="{% static 'mainstatic.css' %}">
        <style>
            p1{text-align: center;}
        </style>
    </head>
        {% block content %}
        <body>
        {% block title%}<h1>View Tasks</h1>{% endblock %}
        <p>Welcome to views, this is where you can find all the tasks!</p>
        <p>and for more actions look below</p>
        <p1><a href="create">Add new tasks</a></p1>
        {% endblock %}
        {% block table %}
                <table align="center">
                {% for field in fields %}<th>{{ field.verbose_name }}<input type="button" onclick=""></th>{% endfor %}
                <th class=".left-align">Delete<input type="button"></th>
                <th>Update<input type="button"></th>
                {% for task in model %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' task.id %}"><b>{{ task.id }}</b></a>
                        </td>
                        <td>{{ task.title|capfirst|add_line_breaks:5|linebreaks }}</td>
                        <td>{{ task.discr|capfirst|add_line_breaks:5|linebreaks }}</td>
                        <td>{{ task.rag }}</td>
                        <td>{{ task.status }}</td>
                        <td><a href="{% url 'delete' task.id %}">delete</a></td>
                        <td><a href="{% url 'update' task.id %}">update</a></td>
                    </tr>
                {% endfor %}
            </table>
        <br>
        <p><a href="{% url 'main' %}">Back to title page</p>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    <p>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
                </span>
                {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
            </span>
        </div>
    </body>
    {% endblock %}
</html>
