{% extends "base_layout.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block logins %}
        {{ block.super }}
    {% endblock %}
    <head>
        <title>View</title>
        <link rel="stylesheet" href="{% static 'mainstatic.css' %}">
    </head>
        {% block content %}
        <body>
        {% block title%}<h1>View Tasks</h1>{% endblock %}
        <p>Welcome to views, this is where you can find all the tasks!</p>
        <p>and for more actions look below</p>
        <a href="create">Add new tasks</a>
        <br>
        {% endblock %}
        {% block table %}
                <table class="center">
                {% for field in fields %}<th>{{ field.verbose_name }}</th>{% endfor %}
                <th>Delete</th>
                <th>Update</th>
                {% for task in model %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' task.id %}"><b>{{ task.id }}</b></a>
                        </td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.discr }}</td>
                        <td>{{ task.rag }}</td>
                        <td>{{ task.status }}</td>
                        <td><a href="{% url 'delete' task.id %}">delete</a></td>
                        <td><a href="{% url 'update' task.id %}">update</a></td>
                    </tr>
                {% endfor %}
            </table>
        <br>
        <p><a href="{% url 'main' %}">Back to title page</p>
    </body>
    {% endblock %}
</html>
