{% extends 'base_layout.html' %} {% load mytags %}
{% block content %}
    <h1>View All Tasks</h1>
{% endblock %}
{% block table %}
    <table align="center">
                {% for field in fields %}<th>{{ field.verbose_name }}<input type="button" onclick=""></th>{% endfor %}
                <th class=".left-align">Delete<input type="button"></th>
                <th>Update<input type="button"></th>
                {% for task in model %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' task.id %}"><b>{{ task.id }}</b></a>
                        </td>
                        <td>{{ task.title|capfirst|add_line_breaks:5|linebreaks }}</td>
                        <td>{{ task.discr|capfirst|add_line_breaks:5|linebreaks }}</td>
                        <td>{{ task.rag }}</td>
                        <td>{{ task.status }}</td>
                        <td><a href="{% url 'delete' task.id %}">delete</a></td>
                        <td><a href="{% url 'update' task.id %}">update</a></td>
                    </tr>
                {% endfor %}
{% endblock %}