table, th, td {
    border: 1px solid black;
}
table.center {
    margin-left: auto;
}
p {
    line-height: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
h1, body {
    text-align: left;
}
h2 {
    text-align: left;
    size: 1;
}
.left-align {
    text-align: left;
}
.hidden {
    display: none
}