{% load static %}{% load mytags %}
<!DOCTYPE html>
<html>
{% block head %}
<head>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mainstatic.css' %}">
    <title>{{title}}</title>
</head>
<div class="top">
    <ul>
        <li><a href="{% url 'main' %}">Home page</a></li>
        <li><a href="{% url 'view_tasks' %}">View</a></li>
        <li><a href="{% url 'view_history'%}">View History</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="">Logged in as {{user}}</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a>
            <form action="{% url 'search' %}" method="GET">
                {% csrf_token %}
                <input type="text" name="lookup" value="{{ request.GET.lookup }}" placeholder="Search">
            </form>
        </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<body>
    </body>
{% endblock %}

{% block table %}
    <h2>{{title}}</h2>
    <table>
    <tr>{% for field in fields %}<th>{{ field.verbose_name }}</th>{% endfor %}</tr>
    <tr>
        <td><b>{{ task.id }}</b></td>
        <td>{{ task.title|capfirst|add_line_breaks:5|linebreaks }}</td>
        <td>{{ task.discr|capfirst|add_line_breaks:5|linebreaks }}</td>
        <td>{{ task.rag|capfirst }}</td>
        <td>{{ task.status|capfirst }}</td>
        <td>{{ task.active|capfirst }}</td>
        <td>{{ task.created_on}}</td>
        <td>{{ task.update_last }}</td>
    </tr>
    </table>
    <p><a href="/view">Back to view tasks</a></p>
{% endblock %}

{% block pagin %}
<div class='pagination-container'>
<p><a href="{% url 'main' %}">Back to title page</a></p>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                <p>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
</html>
