{% load static %}{% load mytags %}
<!DOCTYPE html>
<html>
{% block head %}
<head id="head_stuff">
    <style>
        body {
            background-color:aquamarine;
        }

    </style>
    <meta charset="urtf-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href={% static "mainstatic.css" %}>
    <ul>
        <li><a href="{% url 'main' %}">Home page</a></li>
        <li><a href="{% url 'view_tasks' %}">View</a></li>
        <li><a href="{% url 'view_history'%}">View History</a></p>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'search' %}">Search</a></li>
    </ul>
<div id="logins">
</div>
</head>
{% endblock %}

    {% block content %}
    <body>
        </body>
    {% endblock %}
{% block table %}
    <h2>{{title}}</h2>
    <table>
    <tr>{% for field in fields %}<th>{{ field.verbose_name }}</th>{% endfor %}</tr>
    <tr>
        <td><b>{{ task.id }}</b></td>
        <td>{{ task.title|capfirst|add_line_breaks:5|linebreaks }}</td>
        <td>{{ task.discr|capfirst|add_line_breaks:5|linebreaks }}</td>
        <td>{{ task.rag|capfirst }}</td>
        <td>{{ task.status|capfirst }}</td>
        <td>{{ task.active|capfirst }}</td>
    </tr>
    </table>
    <p><a href="/view">Back to view tasks</a></p>
{% endblock %}
</html>
