{% extends "base_layout.html" %}
{% block content %}
    <p>This is where you will be able to see all the groups and permisions levels people have<br>
    if you have admin access you will be able to set peoples permissions from here</p>
{% endblock %}
{% block table %}

<table class="center">
    <tr>
        <th>User</th><th>Group</th><th>Permissions</th></tr>
        {% for user in users %}
        <tr><td>{{user}}</td></tr>
        {% endfor %}
        {% for group in groups %}
        <td>{{group}}</td>
        {% endfor %}
    </tr>
    <tr>
    
</tr>
</table>
{% endblock%}