{# https://learndjango.com/tutorials/django-search-tutorial{% extends "base_layout.html" %}#}
{% extends 'base_layout.html'%}
{% block content%}
<div class="main">
    <h1>Search Page</h1>
    <p>type in your search phrase here</p>
    <form action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <input type="text" name="lookup" value="{{ request.GET.lookup }}" placeholder="submit title here">
    </form>
    <br>
</div>
{% endblock %}
{% block table %}
        <table class="center">
            {% for task in tasks %}
            <tr>
            <th>{{ task.title }}</th>
            <td><a href="{% url 'detail' pk=task.pk %}">View</a></td>
            </tr>
            {% endfor %} 
        </table>
{% endblock %}
