{% extends "base_layout.html" %}
{% block content %}
    <div class="main">
        <h1>Username: {{ specified_user.user }}</h1>
        <div>
    <div class="sidenav">
    <lable for="{{user_group}}">See groups</lable>
    <ul>
        {% if specified_user.user_group%}
        {% for group in specified_user.user_group%}
            <li>{{ group.name }}</li>
        {% endfor %}
        {% else %}
            <p>No groups yet</p>
        {% endif %}
    </ul>
    <lable for="{{permission}}">See permisions </lable>
    <ul style="list-style-type:circle">
        {% if specified_user.permissions %}
        {% for permission in specified_user.permissions%}
            <li>{{ permission }}</li>
        {% endfor %}
        {% else %}
        <p>No permissions yet</p>
        {% endif %}
    </ul>
    </div>
{% endblock %}