{% extends "base_layout.html" %}
{% load static %} {% load mytags %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainstatic.css' %}">
    </head>
        {% block content %}
        <div class="main">
        <body>
        <h1>View Tasks</h1>
        <p>Welcome to views, this is where you can find all the tasks!</p>
        <p>and for more actions look below</p>
        <p><a href="create">Add new tasks</a></p>
            <div class="sidenav">
                <form id="order_by" method="GET">
                    <label for="order_by">Order by:</label>
                    {% for field in fields %}{% if field.name != 'created_on' and field.name != 'update_last' %}
                        <br>
                        <input type="radio" id="{{ field.name }}" name="order_by" value="{{ field.name }}" onchange="submitForm()">
                        <label for="{{ field.name }}">{{ field.verbose_name }}</label>
                    {% endif %}
                    {% endfor %}
                </form>
                <script>
                    function submitForm() {
                        // JavaScript logic to submit the form
                        document.getElementById("order_by").submit();
                    }
                </script>
                <p>Users</p>
                {% for use in user %}
                    <ul><a href={% url 'user_view' use %}>{{use}}</a></ul>
                {% endfor %}
            </div>
        <br>
        <div class="right-sidenav">
            <p1>Which colums do you want to see in the tables?</p1>
            <form id="colum_filter" method="GET">
            <ul>
                {% for field in fields %}
                    <li>
                        <input type="checkbox" id="{{ field.name }}" name="colum_filter" value="{{ field.name }}">
                        <label for="{{field.name}}">{{field.verbose_name}}</lable>
                    </li>
                {% endfor %}
            </ul>
            <p>Make Colum Changes<input type="submit"></p>
        </form>
        </div>
    </body>
    </div>
{% endblock %}
{% block table %}
<table class="center">
    {% for field in fields %}
        {% if field.verbose_name != 'created on' and field.verbose_name != 'update last' %}
        <th>{{ field.verbose_name }}</th>
        {% endif %}
    {% endfor %}
    <th>Delete</th>
    <th>Update</th>
    {% for task in model %}
        <tr>
            <td>
                <a href="{% url 'detail' task.id %}"><b>{{ task.id }}</b></a>
            </td>
            <td>{{ task.title|capfirst|add_line_breaks:5|linebreaks }}</td>
            <td>{{ task.discr|capfirst|add_line_breaks:5|linebreaks }}</td>
            <td>{{ task.rag }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.active }}</td>
            <td><a href="{% url 'delete' task.id %}">delete</a></td>
            <td><a href="{% url 'update' task.id %}">update</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

</html>
