{% extends "base_layout.html" %}
{% load static %} {% load mytags %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainstatic.css' %}">
    </head>
        {% block content %}
        <div class="main">
        <body>
        <h1>View Tasks</h1>
        <p>Welcome to views, this is where you can find all the tasks!</p>
        <p>and for more actions look below</p>
        <p><a href="create">Add new tasks</a></p>
            <div class="sidenav">
                <form id="order_by" method="GET">
                    <label for="order_by"><b>Order by:</b></label>
                    {% for field in fields %}{% if field.name != 'created_on' and field.name != 'update_last' and field.name != 'project' %}
                        <br>
                        <input type="radio" id="{{ field.name }}" name="order_by" value="{{ field.name }}" onchange="submitForm()">
                        <label for="{{ field.name }}">{{ field.verbose_name }}</label>
                    {% endif %}
                    {% endfor %}
                </form>
                <script>
                    function submitForm() {
                        // JavaScript logic to submit the form
                        document.getElementById("order_by").submit();
                    }
                </script>
                <p1><b>Users:</b><p1>
                {% for use in user %}
                    <ul><a href={% url 'user_view' use %}>{{use}}</a></ul>
                {% endfor %}
                <br>
                <form id="filter_fields" method="GET">
                    <lable for="filter_fields"><b>Filter out specific fields</b></lable>
                        {% for field in fields %}
                        <br>
                            <input type="checkbox" id="{{field.name}}" name="{{field.name}}">
                            <lable for="field.name">{{field.name}}</lable>
                        {% endfor %}
                    <br><input type="submit" name="colum" value="submit"><br>
                </form>
                <br>
                <form id="filter_input_option" method="GET">
                    <label for="filter_input_option"><b>Filter data you wish to see</b></lable>
                        {% for field in fields %}
                            <br>
                            {{field.name}}
                                <select name="{{field.name}}">
                                    {% for choice in all_choices %}
                                        {% if field.name == choice.1 %}
                                            <option value="{{ choice.0 }}">{{ choice.0 }}</option>
                                            
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="field" value="{{ field.name }}">
                        {% endfor %}
                <br>
                <input type="submit" value="Submit">
                </form>
            </div>
        <br>
    </body>
    </div>
{% endblock %}
{% block table %}
<table class="center">
    {% for field in fields %}
        {% if field.verbose_name != 'created on' and field.verbose_name != 'update last' and field.verbose_name != "project" %}
        <th>{{ field.verbose_name }}</th>
        {% endif %}
    {% endfor %}
    <th>Delete</th>
    <th>Update</th>
    {% for task in model %}
        <tr>
            <td>
                <a href="{% url 'detail' task.id %}"><b>{{ task.id }}</b></a>
            </td>
            <td>{{ task.title|capfirst|add_line_breaks:5|linebreaks }}</td>
            <td>{{ task.discr|capfirst|add_line_breaks:5|linebreaks }}</td>
            <td>{{ task.rag }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.active }}</td>
            <td><a href="{% url 'delete' task.id %}">delete</a></td>
            <td><a href="{% url 'update' task.id %}">update</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

</html>
